@using umkm_webapp.Models;
<section class="h-100" style="background-color: #ffff;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">



                <h3 class="fw-normal mb-0 text-black">@ViewBag.countItems Items in Shopping Cart</h3>
                <br /><br />
                <form method="post" asp-controller="cart" asp-action="update">


                    @if (ViewBag.cart != null)
                    {
                        @foreach (var item in ViewBag.cart)
                        {
                            <div class="card rounded-3 mb-4">
                                <div class="card-body p-4">
                                    <div class="row d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img src="~/product/@item.Photo"
                                                 class="img-fluid rounded-3" alt="Cotton T-shirt">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <h5 class="mb-0">@item.Name</h5>
                                            <p><span class="text-muted mb-0">Rp.</span><b>@string.Format("{0:##,#}", @item.Price)</b></p>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            <button class="btn btn-link px-2"
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                <i class="fas fa-minus"></i>
                                            </button>

                                            <input id="form1" min="0" name="quantity" value="@item.Quantity" type="number"
                                                   class="form-control form-control-sm" />

                                            <button class="btn btn-link px-2"
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                <i class="fas fa-plus"></i>
                                            </button>

                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h5 class="mb-0">Rp. @string.Format("{0:##,#}", @item.Price * item.Quantity)</h5>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a asp-controller="cart" asp-action="remove" asp-route-id="@item.Id" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }}

                </form>
                @if (ViewBag.cart != null && @ViewBag.countItems > 0)
                {

                    <div class="card mb-4">
                        <div class="card-body p-4 d-flex flex-row">
                            <div class="form-outline flex-fill">
                                <label class="form-label" for="form1" readonly="readonly"><h5 class="mb-0">Total Pembelian</h5></label>
                                <input type="text" id="form1" class="form-control form-control-lg" readonly="readonly" value="Rp. @string.Format("{0:##,#}", @ViewBag.Total)" />

                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <a class="btn btn-warning btn-block btn-lg" asp-controller="cart" asp-action="checkout">Proceed to Pay</a>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</section>


