@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Category</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Parent</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Parent</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @{int number = 1;                  }

                    @foreach (var category in ViewBag.categories)
                    {
                        <tr>
                            <td>@number</td>
                            <th><b>@category.Name</b></th>
                            <td>@(category.Status ? "Show" : "Hide")</td>
                            <td>@(category.Parent == null ? "" : @category.Parent.Name)</td>
                            <td>
                                <a asp-area="admin" asp-controller="category" asp-action="Edit"
                                   asp-route-id="@category.Id" class="btn btn-primary"> Edit</a><span> | </span>@if (category.InverseParents != null && category.InverseParents.Count == 0)
                                {
                            <a class="btn btn-danger" asp-area="admin" asp-controller="category" asp-action="delete"
                               asp-route-id="@category.Id" onclick="return confirm('Are You Sure?') class="btn btn-danger""> Delete</a><span> | </span>}<a  class="btn btn-warning" asp-area="admin" asp-controller="category" asp-action="AddSubCategory"
   asp-route-id="@category.Id"> Add Sub Category</a>
                                
                            </td>
                        </tr>
                        if (category.InverseParents != null && category.InverseParents.Count != 0)
                        {
                           
                            foreach (var subCategory in category.InverseParents)
                            {
                                <tr>
                                    <td>@number</td>
                                    <td>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@subCategory.Name
                                    </td>
                                    <td>@(subCategory.Status ? "Show" : "Hide")</td>
                                    <td>@subCategory.Parent.Name</td>
                                    <td><a asp-area="admin" asp-controller="category" asp-action="Edit"
   asp-route-id="@subCategory.Id" class="btn btn-primary"> Edit</a> | <a asp-area="admin" asp-controller="category" asp-action="delete"
   asp-route-id="@subCategory.Id" onclick="return confirm('Are You Sure?')" class="btn btn-danger"> Delete</a> </td>
                                </tr>
                            }
                        }
                        { number++; }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>