<section class="products-grids trending pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>@(ViewBag.CountFeaturedProducts) Featured Items</h2>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            @*List Barang*@

            @foreach (var Featuredproduct in ViewBag.FeaturedProducts)
            {
                Product product = (Product)Featuredproduct;
                Photo photo = product.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a asp-controller="product" asp-action="details" asp-route-id="@Featuredproduct.Id">
                            <img src="~/product/@photo.Name" class="img-fluid" />
                        </a>
                    </div>
                    <div class="product-content">
                        <h3><a asp-controller="product" asp-action="details" asp-route-id="@Featuredproduct.Id">@Featuredproduct.Name</a></h3>
                        <div class="product-price">
                            <span>Rp. @Featuredproduct.Price </span>
                        </div>
                    </div>
                </div>
                <br />
            </div>
                
            }
                
            </div>
    </div>
</section>

